body
	margin 0
	padding 0
	font-family Monospace
	font-size 16px
	color #646

nav ul li
	display inline-block
	margin-left 0.25rem
	border 1px solid red

#main
	h1
		font-size 1.5rem
		color #333

#sidebar
	h1
		font-size 1.2rem
		color #949