doctype html
html
head
	title Tooling in JS
	link(rel="stylesheet", href="css/styles.css")

body
	nav
		ul
			li item1
			li item2
			li item3
			li item4

	section#main
		article
			h1 Main article
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit
	aside#sidebar
		article
			h1 Side notes
			p Some interesting text here
	aside#images
		ul
			li
				img(src="images/blue.png")
			li
				img(src="images/brown.png")
			li
				img(src="images/green.png")
			li
				img(src="images/orange.png")

	footer
		p Come back please

script(src="js/app.js")