<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISubstring" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:7777/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISubstring" contract="StringServiceReference.ISubstring"
                name="BasicHttpBinding_ISubstring" />
        </client>
    </system.serviceModel>
</configuration>